<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tufte.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='latex.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='enquire.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='resources.min.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}" type='image/x-icon'/>
  <style type="text/css">
   img { mix-blend-mode: multiply; }
  </style>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="{{ request.path }}" />
  <!-- <meta property="og:image" content="{{ url_for('static', filename='img/file.png') }}" /> -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.description }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:url" content="{{ request.path }}" />
  <!-- <meta name="twitter:image" content="{{ url_for('static', filename='img/file.png') }}" /> -->
</head>
<body>
  <div class="thearticle">
  
  <article>
  {% block content %}
    <h1>{{ page.title }}</h1>
    <p id="blog-p"><span id="blogdesc" class="marginnote">
    <span class="newthought">I'm Athena.</span> This is a brief blog description and navigation bar for each post.<br><br><a href="/">home</a> · <a href="/about/">about</a></span></p>
    <subtitle class="sub-date">{{ page.date.strftime('%B %d, %Y') }} · <span style="font-size: 1.6rem;"><a style="border-bottom-width: 0px !important;" href="{{ request.path }}">&infin;</a></span></subtitle>

    {{ page.html|safe }}
  {% endblock content %}
  </article>
  
  </div>
  <div class="thefooter">
    <p>Footer</p>
    <p>copyright, <i>2016</i></p>
  </div> <!-- footer end -->
</body>
</html>
